
.jumbotron{
	
	color: black;
	margin-top: 50px;
	padding-bottom: 10px;
}

.footer{	
	background-color: #212529;
}

.card-hotel{
	flex: 1 350px;
	padding: 2px 0px 2px 0px; 
	margin-bottom: 20px;
	max-width: 500px;	
}

.card-1{	
	margin-top:20px;
	margin-bottom:40px;
	background-color: #e9ecef;		
}

.columnas {
	display: flex;	
	width: auto;
	justify-content: center;	
}

.btn-reserva{
	width: 70%;	
	margin-bottom: 10px;
}

.btn-block {
	width: 70%;
	margin-bottom: 20px;
}

.footer-address-icon {
	padding-right: 10px;
}

.container-fluid {
	padding-right: 0px;
    padding-left: 0px;
} 

