$yellow: #deed07;
$gray: #212529;
$gray-light: #e9ecef;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron{
	@include margenes (50px, 50px);
	color: black;
	margin-top: 50px;
	padding-bottom: 10px;
}

.footer{	
	background-color: $gray;
}

.card-hotel{
	flex: 1 350px;
	padding: 2px 0px 2px 0px; 
	@include margenes (0px, 20px);
	max-width: 500px;	
}

.card-1{	
	@include margenes (20px, 40px);
	background-color: $gray-light;		
}

.columnas {
	display: flex;	
	width: auto;
	justify-content: center;	
}

.btn-reserva{
	width: 70%;	
	@include margenes (0px, 10px);
}

.btn-block {
	width: 70%;
	@include margenes (0px, 20px);
}

.footer-address-icon {
	padding-right: 10px;
}

.container-fluid {
	padding-right: 0px;
    padding-left: 0px;
} 

